<h2>顧客一覧</h2>
<div class="container">
  <div class="row">
    <div class="sidebar col-4">
    <div class="search-form">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
    <% end %>
    </div>
    </div>
    <div class="main col-8">
      <div class="bar">
        <ul>
          <li>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerModal">
              顧客登録
            </button>
          </li>
        </ul>
      </div>
      <%= render 'customers', customers: @customers, book: @book %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
      予約登録
      </button>
  </div>
</div>

<%= render partial: 'modal_customer', locals: {customer: @customer} %>

<div id="modal_book">
  <%= render partial: 'books/modal_book', locals: {book: @book} %>
</div>

<script>
  //$(".user_select").on("click",function(){
   // customer_id = $(this).兄弟のcustomer_idを取得

    //$.ajax{
      //serverに/customersにgetでおくる(paramterにcustomer_idをつける)
    //}


  //})

</script>