<div class="container">
  <h2>顧客詳細</h2>
    <table class="table">
      <thead>
        <tr>
          <th>顧客ID</th>
          <th>名前</th>
          <th>電話番号</th>
          <th>住所</th>
          <th>アレルギー</th>
          <th>年齢</th>
          <th>備考</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><%= @customer.id %></th>
          <th><%= @customer.name %></th>
          <th><%= @customer.phone_num %></th>
          <th><%= @customer.address %></th>
          <th><%= @customer.allergy %></th>
          <th><%= @customer.age %>歳</th>
          <th><%= @customer.note %></th>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
      <%= link_to '編集', edit_customer_path(@customer), class: "customer_#{@customer.id} btn btn-outline-secondary" %>
      <%= link_to '削除', customer_path(@customer), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger destroy_customer_#{@customer.id}"%>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>来店日時</th>
          <th>人数</th>
          <th>顧客アレルギー</th>
          <th>他アレルギー</th>
          <th>予約備考</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |b| %>
        <tr>
          <td><%= b.start_at %></td>
          <td><%= b.people %></td>
          <td><%= b.allergy %></td>
          <td><%= b.other_allergy %></td>
          <td><%= b.note %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
</div>