<tr>
  <th>TN</th>
  <th>名前</th>
  <th>来店予定</th>
  <th>人数</th>
  <th>顧客アレルギー</th>
  <th>他アレルギー</th>
  <th>予約備考</th>
  <th>顧客備考</th>
</tr>
<% books.each do |b| %>
  <tr>
    <td><%= b.table_num %></td>
    <td><%= b.customer.name %></td>
    <td>
      <% if b.start_at.present? %>
        <%= b.start_at.strftime("%Y年 %m月 %d日 %X") %>
      <% end %>
    </td>
    <td><%= b.people %></td>
    <td><%= b.allergy %></td>
    <td><%= b.other_allergy %></td>
    <td><%= b.note %></td>
    <td><%= b.customer.note %></td>
  </tr>
<% end %>