
  <table class="table">
    <thead>
      <tr>
        <th>TN</th>
        <th>名前</th>
        <th>来店予定</th>
        <th>人数</th>
        <th>顧客アレルギー</th>
        <th>他アレルギー/NG</th>
        <th>予約備考</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="tbody">
      <% books.each do |b| %>
        <tr>
          <td>
            <%= form_with model: b, url: book_path(b) do |f| %>
              <%= f.select :tablenumber_id, @tablenumbers.map{ |tablenumber| [tablenumber.name, tablenumber.id] } %>
              <%= f.submit "TN更新", class: "btn btn-primary" %>
            <% end %>
          </td>
          <td><%= link_to b.customer.name, customer_path(b.customer), class: "b_customer_#{b.customer}" %> 様</td>
          <td>
            <% if b.start_at.present? %>
              <%= b.start_at.strftime("%Y年 %m月 %d日 %X") %>
            <% end %>
          </td>
          <td><%= b.people %>人</td>
          <td><%= b.allergy %></td>
          <td><%= b.other_allergy %></td>
          <td><%= b.note %></td>
          <td><%= link_to '詳細', book_path(b), class: "b_#{b.id} btn btn-outline-info" %></td>
          <td><%= link_to '編集', edit_book_path(b), class: "b_#{b.id} btn btn-outline-secondary" %></td>
          <td><%= link_to '削除', book_path(b), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger destroy_b_#{b.id}"%></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>