
<% if admin_signed_in? %>
  <nav>
    <ul class="main-nav">
      <li>
        <%= link_to "予約一覧", books_path, data: {"turbolinks"=>false}%>
      </li>
      <li>
        <%= link_to "顧客一覧", customers_path %>
      </li>
      <li>
        <%= link_to "コース", courses_path %>
      </li>
      <li>
        <%= link_to "利用目的", usages_path %>
      </li>
      <li>
        <%= link_to "テーブルナンバー", tablenumbers_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    </ul>
  </nav>
<% else %>
  <nav>
    <ul class="main-nav">
      <li>
        <%= link_to "ログイン", new_admin_session_path %>
      </li>
    </ul>
  </nav>
<% end %>