<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>CI-Bank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8" />
    <%= favicon_link_tag "CI-BANK_logo.png" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks="fal">
    <div class="page-header wrapper">
      <h1><a href="/"><%= image_tag "CI-BANK_logo.png", class: "logo", alt: "CI-BANKホーム" %></a></h1>
      <%= render 'layouts/header' %>
    </div>
    <p id="notice"><%= notice %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
